<div class="wrapper" [ngClass]="{'dark-theme': darkTheme}">
<div  class="to-do">
  <div class="container">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>
          <div matBadge="{{badge}}" matBadgeOverlap="false" matBadgeColor="warn" class="badge-container"></div>
        </mat-card-subtitle>
        <mat-card-subtitle>
          Pending
        </mat-card-subtitle>
        <mat-slide-toggle (click)="toggleTheme()" class="toggle-theme" [(ngModel)]="darkTheme">Change theme</mat-slide-toggle>
      </mat-card-header>
      <mat-card-header class="card-title">
        <mat-card-title class="card-title">
          <mat-icon class="icon-display">format_list_bulleted_w</mat-icon>
          <app-typewriter text="ToDo List" class="type-writer"></app-typewriter>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ng-container [formGroup]="formGroup">
          <mat-grid-list cols="12" rowHeight="90px">
            <mat-grid-tile [colspan]="12" [rowspan]="1" class="mat-grid-tile-add">
              <mat-form-field appearance="outline" class="input-add">
                <mat-label>New Item</mat-label>
                <mat-icon matPrefix color="warn">check</mat-icon>
                <input type="text" matInput formControlName="newItem" placeholder="New Item"
                  (keydown.enter)="addItem()">
                <button mat-icon-button (click)="addItem()" [disabled]="alreadyExist()" matSuffix>
                  <mat-icon color="warn">add</mat-icon>
                </button>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-progress-bar mode="determinate" [value]="progress" color="warn"></mat-progress-bar>
          <br>
          <mat-button-toggle-group formControlName="filter" (change)="filterList()">
            <mat-button-toggle value="all">All</mat-button-toggle>
            <mat-button-toggle value="completed">Done</mat-button-toggle>
            <mat-button-toggle value="pending">Pending</mat-button-toggle>
          </mat-button-toggle-group>
          <br>
          <br>
          <ng-container formArrayName="itemsArray" *ngFor="let item of itemsArray.controls; let i = index">
            <mat-grid-list [formGroupName]="i" *ngIf="item.get('show')?.value" cols="12" rowHeight="60px">
              <mat-grid-tile [colspan]="1" [rowspan]="1" class="mat-grid-tile-check">
                <mat-checkbox formControlName="isChecked" (click)="change(i)"></mat-checkbox>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="10" [rowspan]="1" class="mat-grid-tile-value">
                <mat-form-field class="input-item" appearance="outline">
                  <input type="text" matInput formControlName="value" (input)="change(i)">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1" class="mat-grit-tile-delete">
                <button mat-icon-button (click)="deleteItem(i)" [disabled]="item.get('isChecked')?.value">
                  <mat-icon fontIcon="close" color="warn"></mat-icon>
                </button>
              </mat-grid-tile>
            </mat-grid-list>
          </ng-container>
        </ng-container>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
</div>
